<!doctype html>
<html>
	<head>
		<script src="../bootstrap/js/jquery.js"></script>
		<script src="../bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.css">
		<link rel="stylesheet/less" type="text/css" href="../css/app.css" />
		<script src="../less/less.js"></script>
	</head>
	<body>

		<div class="container">
			<h1>2014 GREETING E-CARD</h1>
			
			<div class="alert alert-success"><a href="mailto:{{user.email}}">{{user.firstname}} {{user.lastname}}</a> sent you a card:</div>

			<div class="preview">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="887" height="560" id="myFlashMovie" align="middle">
					<param name="movie" value="../swf/card.swf" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="../swf/card.swf" width="887" height="560">
						<param name="movie" value="../swf/card.swf" />
						<!--<![endif]-->
						<a href="http://www.adobe.com/go/getflash">
							<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
						</a>
						<!--[if !IE]>-->
					</object>
					<!--<![endif]-->
				</object>
			</div>
			
			<div style="text-align:right;margin-top:20px;">
				<img src="../logo.png" alt="" />
			</div>
			
			<script type="text/javascript">
				window.updateText = function() {
					var message = {{card.message|json_encode}};
					message 	= unescape(message);
					return message;
				}
				window.updateSignature = function() {
					return {{card.signature|json_encode}};
				}
			</script>
		</div>
	</body>
</html>